<section id="receta-dulce">
    <div class="container">
        <div class="cheesecake"></div>
        <div class="texto">
          <h1>Cheesecake japones</h1>
            <h2>Ingredientes</h2>
            <ul>
              <li>6 huevos</li>
              <li>80ml leche</li> 
              <li>55gr manteca</li>
              <li>200gr queso crema</li>
              <li>50gr azúcar</li>
              <li>Ralladura de limon</li>
              <li>90gr harina</li>
              <li>Una pizca de sal</li>
              <li>Molde de 20x8 cm</li></ul>
              <h2>Preparación</h2>
              <ol>
                <li>Encendemos el horno a 160 grados.</li>
                <li>Se separan las yemas de las claras. Se guarda las claras en la heladera.</li>
                <li>En una olla, ponemos la leche entera, agregamos la manteca, el queso crema y el azúcar. De gustarse el cheesecake mas dulce, se agrega 70g de azúcar.</li>
                <li>Colocamos a fuego medio hasta que el queso y la manteca se derritan completamente. Cuando la mezcla sea homogénea y liquida, retírala del fuego.</li>
                <li>Se añade a la mezcla la ralladura de limon, se agregan a las yemas una pizca de sal y se bate muy bien.</li>
                <li>Tamizamos la harina en la mezcla, se revuelve hasta retirar los grumos.</li>
                <li>Saca las claras de la nevera y montalas hasta obtener que espume completamente. Añade una cucharada de jugo de limón y una cucharadita de azúcar. Sigue revolviendo y echa otro poco de azúcar.</li>
                <li>Revuelve unos minutos mas y despues se le echa el azúcar restante, cuando veas que las claras tienes picos, deja de batirlas.</li>
                <li>Añadimos una pequeña cantidad de claras a la primera masa, la integramos de a poco, haciendo el movimiento de abajo hacia arriba.</li>
                <li>Cuando veas que la mezcla esta uniforme, añade el restante de claras, remueve con movimientos envolventes de abajo hacia arriba, hasta obtener una masa de un solo color, sin ráfagas blancas o amarillas, todo debe ser uniforme.</li>
                <li>Es importante remover con mucho cuidado para que se mantengan esponjosas las claras.</li>
                <li>Agarra el molde. Coloca en el fondo un trozo de papel para hornear y vierte la mezcla adentro.</li>
                <li>Para poder decorar, se pueden hacer circulos en la masa usando un palillo, de esa forma se crea un espiral. Da algunos golpecitos sobre la mesa.</li>
                <li>Mételo en el horno a baño Maria durante unos cuarenta minutos.</li>
                <li>Pasados los 40 minutos baja la temperatura a 130 grados y hornea el cheesecake otros 30 minutos.</li>
                <li>Apaga el horno, pero déjalo dentro del horno unos 15 minutos.</li>
                <li>Sacala del horno y dejalo reposar unos minutos.</li>
                <li>Separa los bordes del molde, tápalo con un plato y dale la vuelta para desmoldarlo.</li>
                <li>Se adorna al gusto, y listo, ¡ya tenes tu cheesecake!</li>
              </ol>
        </div>
    </div>
</section>

<hr class="new1">

<section id="receta-dulce">
  <div class="container">
      <div class="mochi"></div>
      <div class="texto">
        <h1>Mochi</h1>
          <h2>Ingredientes</h2>
          <ul><li>160gr harina de arroz glutinoso</li>
          <li>225ml agua</li> 
          <li>100gr azúcar</li>
          <li>Maizena o almidón de papa</li></ul>

          <h2>Preparación</h2>
          <ol>
            <li>Comienza mezclando bien la harina y el azúcar en un bol grande. Remueve hasta que estén bien integrados ambos ingredientes.</li>
            <li>Ve añadiendo poco a poco el agua mientras remueves la masa. Tiene que quedar bien húmeda, mezclando de manera homogénea con las manos.</li>
            <li>Tapa la mezcla con papel film, y calienta en el microondas durante 2 minutos a potencia elevada. La mezcla ira cogiendo un poco de textura mientras se calienta.</li>
            <li>Sácalo del microondas y sigue removiendo bien, amasando enérgicamente. Notaras que la masa se vuelve cada vez mas dura y elástica.</li>
            <li>Vuelve a cubrir el bol con papel film transparente y mete en el microondas otros dos minutos. Saca y amasa de nuevo, repitiendo el proceso hasta que veas que la superficie de la masa se torna brillante. Este es el punto exacto que debemos lograr para que la masa este lo suficientemente elástica.</li>
            <li>Usa un mortero, poniendo la masa en el para machacarlo poco a poco. Añade un poco de almidón de patata para evitar que la masa se pegue, haciendo la masa mas suave. Usa el mazo del mortero para machacar, hasta que la masa este suave y bien integrada.</li>
            <li>Sigue trabajando la masa con las manos, dándole vueltas y amasándola hasta lograr una textura de mochi perfecta. Si lo deseas, puedes añadir colorante a la masa, mezclando bien para que el color quede homogéneo.</li>
            <li>Divide la masa en 12 o 13 partes del mismo tamaño, haciendo bolitas y aplanándolas para poner el relleno en el centro. Añade tu ingrediente favorito, y cierra la masa haciendo una bola perfecta.</li>
            <li>Trabaja la masa sobre una superficie espolvoreada con almidón de patata o maizena, de manera que el exterior quede cubierto por una fina cada de este ingrediente al terminar de hacer las bolitas.</li>
            <li>Y listo, ¡ya tenes tus mochis!</li></ol>
      </div>
  </div>
</section>

<hr class="new1">

<section id="receta-dulce">
  <div class="container">
      <div class="taiyaki"></div>
      <div class="texto">
        <h1>Taiyaki</h1>
          <h2>Ingredientes</h2>
          <ul><li>150gr harina de trigo de reposteria</li>
          <li>180mL leche entera</li>
          <li>1 sobre de levadura</li>
          <li>1 huevo</li>
          <li>30gr azúcar</li>
          <li>Aceite de oliva</li>
          <li>Tu relleno favorito</li>
          <li>Molde con forma de pez</li></ul>

          <h2>Preparación</h2>
          <ol>
            <li>Comienza mezclando en un bol la harina tamizada con la levadura y el azúcar. Añade poco a poco la leche para ir mezclando hasta lograr una masa homogénea.</li>
            <li>Añade el huevo entero, y sigue batiendo para integrarlo por completo. Si quieres que te salga la masa mas esponjosa, un truco de la cocina japonesa es batir la clara a parte montándola a punto de nieve para añadir después al resto de ingredientes.</li>
            <li>Utiliza una brocha para untar con aceite el molde, evitando así que se pegue la masa. Repite esta operación siempre antes de hacer un nuevo pastel.</li>
            <li>Añade la masa en el molde, cubriendo el fondo con poca cantidad.</li>
            <li>Pon en el centro de la masa aun cruda el ingrediente que mas te guste. Una cucharada de crema, chocolate, queso en crema, o pasta de alubias rojas. Hay muchas opciones para rellenar tus dulces como mas te guste.</li>
            <li>Aplasta un poco el relleno para que se quede sumergido en la masa, y añade un poco más de masa cruda para cubrir el molde hasta el borde. No pongas demasiada masa para evitar que se espanda por todo el interior el molde.</li>
            <li>Cierra bien el molde o la maquina de hacer taiyakis, y deja que se cocine. Si usas una maquina, el indicador luminoso te avisara cuando están listos tus pasteles. En caso de que uses un molde, dale la vuelta para que se cocine por ambos lados, dejándolo sobre el fuego unos 3 minutos mas o menos.</li>
            <li>Retira del molde y deja enfriar un poco antes de tomar. Y listo, ¡ya tenes tus taiyakis!</li></ol>
      </div>
  </div>
</section>